@import "tailwindcss";

@theme inline {
  /* Font */
  --font-sans: var(--font-inter-sans);
  --font-base: 2rem;

  /* Colors */
  --color-blue-950: hsl(240, 38%, 20%);
  --color-gray-400: hsl(240, 18%, 77%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-weight: 700;
}
